  <%= render 'books/list', book: @book, user: @user %>

  <h1>Books</h1>
    <table>
      <thead>
        <th colspan="1"></th>
        <th>Title</th>
        <th>Opinion</th>
      </thead>
      <tbody>
      <% @books.each do |book| %>
          <td><%= link_to book.user do %>
            <%= attachment_image_tag book.user, :profile_image, format:'jpeg', fallback: "no_image.jpg", size:"60x60" %>
            <% end %>
          </td>
          <td><%= link_to book do %>
            <%= book.title %>
            <% end %></td>
          <td><%= book.opinion %></td>
      </tbody>
      <% end %>
    </table>