<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list', book: @book, user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <th colspan="1"></th>
            <th>本のタイトル</th>
            <th>感想</th>
          </thead>
          <tbody>
          <% @books.each do |book| %>
              <td><%= link_to book.user do %>
                <%= attachment_image_tag book.user, :profile_image, format:'jpeg', fallback: "no_image.jpg", size:"60x60" %>
                <% end %>
              </td>
              <td><%= link_to book do %>
                <%= book.title %>
                <% end %></td>
              <td><%= book.body %></td>
              <% if @user == current_user %>
              <td><%= link_to "Edit", edit_book_path %></td>
              <td><%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に削除しますか？"%></td>
              <% end %>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>